<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>Barspune</title>
    </head>
    <body>
        <nav>
            <a href="/specs">List of Specs</a>
            |
            <a href="/specs/new">Add a Spec</a>
            |
            <a href="/users/register">Register</a>
            |
            <a href="/users/signin">Sign In</a>
            |
            <a href="/users/signout">Sign Out</a>
        </nav>